{{ block "index" .  }}
<!DOCTYPE html>
<html language="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.4/dist/webawesome.loader.js"></script>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.4/dist/themes/default.css" />
  </head>
  <body>
    <h1>
      Hello world!
    </h1>
    {{ template "save-webpage" . }}
    {{ template "list-webpages" . }}
  </body>
</html>
{{ end  }}

{{ block "save-webpage" . }}
<form hx-post="/links" hx-target="#list">
  <input type="text" name="url" />
  <button type="submit">save link</button>
  <wa-button size="small">Click me</wa-button>
</form>
{{ end }}

{{ block "list-webpages" . }}
<div id="list">
  {{ range .Links }}
    <div>
      <a href="{{ .Url }}" target="_blank">{{ .Url }}</a>
    </div>
  {{ end }}
</div>
{{ end }}

