{{ block "index" .  }}
<!DOCTYPE html>
<html language="en" class="wa-theme-default-dark">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/bars.svg" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.4/dist/webawesome.loader.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-beta.2/dist/styles/webawesome.css" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.4/dist/themes/default.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <wa-card>
      <h1>
        so much to read, so little time...
      </h1>
      {{ template "list-webpages" . }}
    </wa-card>
  </body>
</html>
{{ end  }}

{{ block "list-webpages" . }}
<div id="list-and-form">
  <form hx-post="/links" hx-target="#list-and-form">
    <wa-input type="text" name="url"></wa-input>
    <wa-button type="submit">save link</wa-button>
  </form>
  <div id="list">
    {{ range .Links }}
      <div>
        <a href="{{ .Url }}" target="_blank">{{ .Url }}</a>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}

