{{ block "index" .  }}
<!DOCTYPE html>
<html language="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  </head>
  <body>
    <div id="count">{{ template "count" . }}</div>
    <button hx-post="/count" hx-target="#count">++</button>
  </body>
</html>
{{ end  }}

{{ block "count" . }}
    count {{ .Count }}
{{ end }}

